# Node modules
node_modules/

# Environment files
.env

# Logs
logs/
*.log

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Optional: coverage reports
coverage/
